In [84]:
fib <- function(n)ifelse(n<=1,1,fib(n-2)+fib(n-1))

fib_t <- function(n){
    start <- proc.time()
    fib(n)
    finish <- proc.time()
    return ((finish - start)[1])
}

In [55]:
score <- read.csv("./fib_score.csv",header=T)

In [34]:
t=fib_t(10)

In [110]:
for(i in 1:30){
    score$R[i]=fib_t(i)
}

In [112]:
write.csv(score,"./fib_score.csv")

In [113]:
score

   fib R      Python Julia
1   1   0.000 1.1    0.000
2   2   0.000 1.0    0.000
3   3   0.000 1.0    0.000
4   4   0.000 1.0    0.000
5   5   0.000 1.0    0.000
6   6   0.001 1.0    0.000
7   7   0.001 1.0    0.000
8   8   0.001 1.0    0.000
9   9   0.002 1.0    0.000
10 10   0.002 1.0    0.000
11 11   0.005 1.0    0.000
12 12   0.008 1.0    0.000
13 13   0.010 1.0    0.000
14 14   0.013 1.0    0.000
15 15   0.015 1.0    0.000
16 16   0.026 1.0    0.000
17 17   0.046 1.0    0.000
18 18   0.074 1.0    0.000
19 19   0.109 1.0    0.000
20 20   0.172 1.0    0.000
21 21   0.286 1.0    0.000
22 22   0.475 1.0    0.000
23 23   0.772 1.0    0.001
24 24   1.344 1.0    0.000
25 25   1.981 1.0    0.001
26 26   3.254 1.0    0.001
27 27   5.299 1.0    0.002
28 28   8.462 1.0    0.003
29 29  13.829 1.0    0.005
30 30  22.407 1.0    0.009
⋮  ⋮   ⋮      ⋮      ⋮
34 34  NA     1      0.058
35 35  NA     1      0.093
36 36  NA     1      0.153
37 37  NA     1      0.249
38 38  NA     1      0.415
39 39  NA     1      0.647
40 40  NA     1      1.045
41 41  NA     1         NA
42 42  NA     1         NA
43 43  NA     1         NA
44 44  NA     1         NA
45 45  NA     1         NA
46 46  NA     1         NA
47 47  NA     1         NA
48 48  NA     1         NA
49 49  NA     1         NA
50 50  NA     1         NA
51 51  NA     1         NA
52 52  NA     1         NA
53 53  NA     1         NA
54 54  NA     1         NA
55 55  NA     1         NA
56 56  NA     1         NA
57 57  NA     1         NA
58 58  NA     1         NA
59 59  NA     1         NA
60 60  NA     1         NA
61 61  NA     1         NA
62 62  NA     1         NA
63 63  NA     1         NA